*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main{
    background-color: white;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    margin: 5px;
}
.main ul{
    list-style: none;
    display: flex;
}
.main ul li{
    padding:  10px 30px;
}
.main ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
    transition:  all 0.3s;
}
.main ul li a:hover{
    color: black;

}
#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#submenu{
    opacity: 1;
    top: 80px;
    visibility: visible;
    display: inline;
    left: 430px;
    background-color: black;
    border: 1px solid black;
    border-radius: 10px;
}
#submenu a{
    color: white;
    max-width: 100px;
    max-height: 100px;
}
#submenu a:hover{
    width: 10px;
    height: 10px;
    color: rgba(252, 252, 252, 0.588);
}
.logo{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    position: relative;
    right: 30px;
}
.color{
    background-color: rgba(201, 211, 220, 0.483);
    position: relative;
    right: 90px;
    border-radius: 10pc;
}
.color li{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.main li{
    padding:  0 5%;
}
.button1{
    background: black;
    border-radius: 10px;
    color: white;
}
.button{
    width: 100px;
}
.main1{
    background-color: black;
    color: white;
    width: 1500px;
    height: 600px;
    padding: 150px;
}
.main1 h3{
    position: relative;
    right: 120px;
    color: rgba(255, 255, 255, 0.552);
    font-size: 30px;
}
.p1{
    position: relative;
    right: 120px;
    font-size: 70px;
}
.main1 button{
    position: relative;
    right: 430px;
    bottom: 250px;
    background: white;
    font-size: 20px;
    color: black;
    margin-top: 30px;
    padding: 20px 30px;
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 2px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.image1{
    position: relative;
    left: 800px;
    bottom: 120px;
    border-radius: 100%;
    background-color: red;
    background: url(pexels-ketut-subiyanto-4474047.jpg);
    width: 310px;
    height: 300px;
}
.over1{
    position: relative;
    bottom: 310px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    left: 130px;
}
.over2{
    color: rgba(255, 255, 255, 0.426);
    position: relative;
    top: 10px;
}
.main2{
    position: relative;
    top: 190px;
}
.mainh3{
    position: relative;
    left: 30px;
    font-size: 30px;
    color:rgb(126, 130, 116);
    font-weight: lighter;
}
.mainh1{
    position: relative;
    left: 30px;
    top: 10px;
    font-size: 60px;
    font-weight: lighter;
}
.submain2{
    position: relative;
    top: 80px;
}
.over3{
    position: relative;
    left: 30px;
}
.over5{
    position: relative;
    left: 500px;
    bottom: 70px;
}
.over7{
    position: relative;
    left: 910px;
    bottom: 150px;
    
}
.over4{
    position: relative;
    bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.over6{
    position: relative;
    bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.over8{
    position: relative;
    bottom: 10px;
    font-size: larger;
    font-weight: bolder;
}
.logo1{
    position: relative;
    left: 50px;
    bottom: 40px;
    width: 40px;
    height: 40px;
}
.logo2{
    position: absolute;
    left: 520px;
    bottom: 281px;
    width: 40px;
}
.logo3{
    position: absolute;
    left: 920px;
    bottom: 281px;
    width: 40px;
}
.main3{
    position: relative;
    top: 200px;
    background-color: black;
    color: white;
    width: 1600px;
    height: 800px;
    padding: 150px;
}
.one1{
    position: relative;
    bottom: 25px;
    right: 120px;
    font-size: 35px;
    font-weight: lighter;    
    color:  rgba(255, 255, 255, 0.552);
}
.one2{
    position: relative;
    bottom: 25px;
    right: 120px;
    font-size: 50px;
    font-weight: lighter;    
    color:  rgba(255, 255, 255, 0.552);
}
.subone2{
    color: white;
}
.one3{
    position: relative;
    top: 112px;
    right: 80px;
    font-size: 50px;   
}
.subone3{
    position: relative;
    bottom: 15px;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.552);
}
.one4{
    position: relative;
    bottom: 45px;
    left: 255px;
    font-size: 50px;
}
.subone4{
    position: relative;
    bottom: 15px;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.552);
}
.one5{
    position: relative;
    bottom: 200px;
    left: 600px;
    font-size: 50px;
}
.subone5{
    position: relative;
    bottom: 15px;
    font-size: 15px;
    color:  rgba(255, 255, 255, 0.552);
}
.one6{
    position: absolute;
    bottom: 110px;
    left: 1100px;
    font-size: 50px;
}
.subone6{
    position: relative;
    bottom: 15px;
    font-size: 15px;
    color: rgb(255, 255, 255, 0.552);
}
.main4{
    position: relative;
    top: 350px;
}
.main4image{
    position: relative;
    left: 50px;
    width: 500px;
    height: 600px;

}
.submain4{
    position: relative;
    left: 750px;
    bottom: 600px;
    font-size: 35px;
    color:rgb(126, 130, 116)
}
.submain5{
    position: relative;
    left: 750px;
    bottom: 400px;
    font-size: 45px;
    font-weight: bold;
}
.main4 button{
    position: relative;
    left: 750px;
    bottom: 400px;
    background-color: black;
    color: white;
    font-size: 30px;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 2px;
}
.main5{
    position: relative;
    top: 140px;
    left: 50px;

}
.submain6{
    color: rgb(126, 130, 116);
    font-size: 30px;
}
.submain7{
    position: relative;
    top: 40px;
    font-size: 45px;
}
.submain8{
    position: relative;
    top: 60px;
    font-size: 40px;
}
.submain9{
    position: relative;
    top: 70px;
    left: 110px;
    font-size: 20px;
    font-weight: bold;
}
.main5image5{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
    top: 150px;
    opacity: 100px;
}
.main6{
    position: relative;
    top: 350px;
    left: 50px;
}
.submain10{
    font-size: 30px;
    color: rgb(126, 130, 116);
}
.submain11{
    font-size: 50px;
    color: black;
}
.submain12{
    position: relative;
    top: 50px;
}
.submain12 img{
    width: 100px;
    height: 100px;
}
.submain13{
    position: relative;
    left: 800px;
    bottom: 680px;
}
.submain13 img{
    width: 100px;
    height: 100px;
}
.submain14{
    position: relative;
    left: 800px;
    bottom: 700px;
}
.submain14 img{
    width: 100px;
    height: 100px;
}
.submain15{
    position: relative;
    right:  10px;
    bottom: 1450px;
}
.submain15 img{
    width: 610px;
    height: 650px;
}
.submain15 p{
    position: relative;
    bottom: 150px;
    left: 50px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.submain15 span{
    color: rgb(126, 130, 116);
    font-size: 30px;
}
.submain12 img{
    width: 600px;
    height: 600px;
}
.submain12 p{
    position: relative;
    bottom: 150px;
    left: 50px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.submain12 span{
    color: rgb(126, 130, 116);
    font-size: 30px;
}
.submain13 img{
    width: 600px;
    height: 600px;
}
.submain13 p{
    position: relative;
    bottom: 150px;
    left: 50px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.submain13 span{
    color: rgb(126, 130, 116);
    font-size: 30px;
}
.submain14 img{
    position: relative;
    top: 30px;
    width: 600px;
    height: 650px;
}
.submain14 p{
    position: relative;
    bottom: 150px;
    left: 50px;
    color:rgb(255, 255, 255);
    font-size: 40px;
}
.submain14 span{
    color: rgb(126, 130, 116);
    font-size: 30px;
}
.main7{
    position: relative;
    bottom: 1000px;
    size: 4px;
    color: rgb(126, 130, 116);
}
.main8{
    position: relative;
    bottom: 700px;
    left: 50px;
}
.submain16{
    font-size: 30px;
    color: rgb(126, 130, 116);

}
.submain17{
    position: relative;
    top: 20px;
    font-size: 50px;
}
.form1{
    position: relative;
    left: 700px;
    bottom: 20px;
}
.input1{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
::placeholder{
    color: rgb(126, 130, 116);
}
input:hover{
    color: darkgrey;

}
.input2{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input3{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input4{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input5{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input6{
    width: 275px;
    height: 60px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input7{
    width: 500px;
    height: 70px;
    font-size: 20px;
    color: rgb(126, 130, 116);
    border: 1px darkgray;
    border-radius: 2px;
    padding: 20px;
    background-color: rgba(252, 252, 252, 0.588);
}
.input9{
    position: relative;
    top: 20px;
    font-weight: bold;
}
.input8{
    position: relative;
    top: 25px;
    width: 500px;
    background-color: black;
    font-size: 20px;
    color: white;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 8px;
    border: 1px solid black;
    box-shadow: 2px;
}
.input10{
    position: absolute;
    bottom: 150px;
    left: 150px;
}
.imagesubmain7a{
    position: relative;
    right: 700px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.imagesubmain7b{
    position: relative;
    border-radius: 50%;
    right: 715px;
    border: 8px whitesmoke;
    width: 75px;
    height: 75px;
}
.input11{
    bottom: 80px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.851);
    border-radius: 50%;
    right: 568px;
    border: 8px rgb(245, 245, 245);
    width: 80px;
    height: 80px;
    text-align: center;
    padding-top: 20px;
}
.input12{
    position: relative;
    right: 450px;
    bottom: 150px;
}
.input12 a{
    color: rgb(126, 130, 116);
    text-decoration: none;
}
.main9{
    background-color: black;
    position: relative;
    bottom: 700px;
    color: white;
    height: 500px;
}
.main9p{
    position: relative;
    top: 90px;
    left: 20px;
    font-size: 30px;
    color: rgb(126, 130, 116);
}
.main9p1{
    position: relative;
    top: 90px;
    left: 20px;
    font-size: 40px;
    color: white;
}
.main9p2{
    position: relative;
    top: 10px;
    left: 600px;
    font-size: 30px;
    color: white;   
}
.main9p3{
    position: relative;
    top: 40px;
    left: 600px;
    font-size: 17px;
    color: white;   
}
.main9p4{
    position: relative;
    top: 60px;
    left: 600px;
    font-size: 20px;
    color: white;   
}
.main9p5{
    position: relative;
    bottom: 120px;
    left: 950px;
    font-size: 30px;
    color: white;   
}
.main9p6{
    position: relative;
    bottom: 90px;
    left: 950px;
    font-size: 17px;
    color: white;   
}
.main9p7{
    position: relative;
    bottom: 55px;
    left: 950px;
    font-size: 19px;
    color: white;   
}
.main9img1{
    position: relative;
    top: 100px;
    left: 30px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}
.main9img2{
    position: relative;
    top: 100px;
    left: 50px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}
.main9img3{
    position: relative;
    top: 100px;
    left: 70px;
    background: white;
    border-radius: 50%;
    width: 30px;
    height: 30px;

}